#largestbox{
    border: 1px solid black;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
}
img{
    height: 140px;
    width: 200px;
    object-fit: cover;
}